ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #dee0e3;
  color: #1f2329;
  height: 24px;
  padding: 10px 8px 10px 0;
  font-size: 14px;

}
.icon-drag {
  right: 6px;
  color: #8f959e;
  font-size: 20px;
  position: absolute;
  margin: unset;
}
